/***********************************FOOTER STYLES***********************************/

footer {
    padding: 12px 0 12px 0;
    text-align: center;
    border-top: 0.1em #740202 solid;
  }
  
  footer p {
    color: #740202;
  }
  